@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #eba23b;
  color: #090909;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-wrapper {
  width: 100%;
  height: 100%;
}

.root-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw; /* Adjust to the desired width */
  max-width: 1200px;
  height: 90vh; /* Ensure the chat fits on the page */
  background-color: #e3e6ec;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 2px solid #1b1818;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff; /* Background for the chat box */
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  background-color: #f4f4f4; /* Light background for chat history */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  max-height: 70vh; /* Control the height of the chat section */
}

.chat-box::-webkit-scrollbar {
  width: 5px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #121214;
  border-radius: 10px;
}

.spinner {
  position: absolute;
  /* top: -113px; */
  bottom: 150px;
  left: 50%;
  transform: translateX(-40%);
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #0d1216;
  animation: spin 1s linear infinite;
  z-index: 10;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #40444d;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}

.message-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #40444d;
  border-radius: 5px;
  flex-grow: 2;
  height: 40px;
  width: 100%;
}

.message {
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #070707;
  flex-grow: 2;
  background-color: transparent;
}

.send {
  text-align: center;
  height: 40px;
  min-width: 50px;
  border: none;
  border-radius: 5px;
  margin: 0;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  opacity: 50%;
  transition: 0.3s;
}

.send:hover {
  cursor: pointer;
  opacity: 75%;
}
.open {
  text-align: center;
  height: 40px;
  min-width: 50px;
  border: none;
  border-radius: 5px;
  margin: 0;
  font-size: 16px;
  background-color: transparent;
  color: #000;
  opacity: 50%;
  transition: 0.3s;
}

.open:hover {
  cursor: pointer;
  opacity: 75%;
}

.editor-container {
  width: 100%;
  height: 100%;
  max-height: 70vh; /* Set a maximum height to limit the editor size */
  overflow-y: auto; /* Enable scrolling if content exceeds max height */
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.ql-container {
  flex-grow: 1;
}

.ql-editor {
  height: 100%;
}

/* Chat message styling */
.chat-message {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 65px auto;
  color: aliceblue;
}

.chat-message:hover {
  background-color: #27292e;
}

.message-time {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.chat-message:hover > .message-time {
  visibility: visible;
}

.message-user {
  display: flex;
  flex-direction: column;
}

.username {
  margin-right: 15px;
  color: #50c878;
  font-weight: bold;
  letter-spacing: 1px;
}

.user-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.suggestions-list {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
.s3-files{
  color: black;

  margin-right: 70%;
}


.rounded-button {
  background-color: #eba23b;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #d18c33;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 50px; /* Set a fixed height */
  height: 60px;
  overflow-y: auto; /* Add vertical scrollbar */

  width: 100%;
  border-collapse: collapse;
}

.file-table th,
.file-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.file-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row color */
}

.file-table tr:hover {
  background-color: #ddd; /* Hover effect */
}